@font-face {
    font-family: 'westminster.woff';
    src:  url('fonts 8/westminster.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {background-color: white;}


#westminster {
font-family: 'westminster.woff';
font-size: 300px;
vertical-align: top;
margin-top: 200px;
color: transparent;
	text-shadow: rgba(0, 0, 0, 1.0)0px 0px 20px;
}